/** You can add custom styles for your site here */

.flairsettings {
  margin-top: 9px;
  text-align: center;
}

.subbuttonscentered {
  text-align: center;
}

.notfound {
  text-align: center;
  margin-top: 35px;
}

/* Apple show poll results button */
.poll-show-results {
  background-color: #737272;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.poll-show-results:disabled {
  cursor: default;
  opacity: .3;
}

.poll-show-results:hover {
  filter: opacity(85%);
}

.poll-show-results:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.poll-show-results:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

/* center sidebar img */
img[src*='#center'] {
  display: block;
  margin: auto;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.cscore:before {
    content: "• ";
    margin: 0 2px;
    line-height: 14px;
}

.mcscore:before {
    content: "• ";
    margin: 0 2px;
    line-height: 14px;
}

.bottombar .reply-comment {
  color: #24a0ed;
}

/* sub title in the Navbar */

.subtitle {
    display: block;
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: normal;
    word-spacing: normal;
    position: absolute;
    z-index: 150;
    width: max-content;
    margin-top: -24px;
    margin-left: -210px;
}

.subtitle:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #fff;
}

.subtitle a {
    color: white;
}

/* new Navbar style, separate for subs */

.th-subnavbar {
  background-color: var(--primary-color);
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  padding: .4em 0 .4em .3em;
  position: relative;
  height: 80px;
  border-bottom: 1px solid #101010;
}

/* sort buttons */

.pure-g-menu .pure-button-primary {
    background-color: #ffffff !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    border: 1px solid #010101 !important;
    border-bottom: 1px solid #fff !important;
    margin: 0px 0px 0px 0px !important;
}

.sub-icon-round {
  width: 25px;
  height: 25px;
  overflow: hidden; /* Ensures the image stays within bounds */
  display: flex; /* Centers the image inside */
  align-items: center;
  justify-content: center;
  margin-right: 8px; /* Adds space between the icon and the link */
  position: relative;
}

.sub-icon-round img {
  border-radius: 50%;  /* Ensures a fully rounded image */
  object-fit: cover;   /* Prevents stretching */
  width: 100%;         /* Ensures it fills the parent div */
  height: 100%;        /* Ensures it fills the parent div */
}

.sub-icon-name-container {
  display: flex;        /* Layout for the container */
  align-items: center;  /* Vertically centers the elements */
  margin: 0px 0px 3px -1px;
}

.sub-icon-name-container span {
  white-space: nowrap; /* Prevents the link from breaking into multiple lines */
  font-size: 13px;
}

.sub-icon-text {
    color: #414a4f;
    font-size: 12px;
    font-weight: 600;
}

.lite-youtube {
    background-color: #000;
    height: 100%;
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    width: 640px;
}

.lite-youtube .lty-placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lite-youtube .lty-playbtn {
  width: 68px;
  height: 48px;
  opacity: 0.8;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.lite-youtube:hover .lty-playbtn {
  opacity: 1;
  transform: scale(1.1);
}

.lite-youtube.lty-activated {
  cursor: unset;
}

.lite-youtube.lty-activated .lty-playbtn,
.lite-youtube.lty-activated .lty-placeholder {
  display: none;
}

.lite-youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
