/* dark mode styles */
body.dark .th-l-stroke {
  stroke: var(--dark-primary-color);
}

body.dark .th-l-fill {
  fill: var(--dark-primary-color);
}

body.dark code,
body.dark pre {
  background: #a9989836;
}

body.dark .profilebadge path:not(.nocolor) {
  fill: #686868;
}

body.dark .th-toggle .bar {
  background-color: #fff;
}

body.dark a {
  color: #8f8f8f;
}

body.dark .sbpostauthor {
    border: 1px solid #8f8f8f;
    background: #41444b;
    color: #b9bbbe;
}

body.dark div.author a {
  color: var(--dark-links-a);
}

body.dark div.author a.authorlink {
  color: #cccccc;
}

body.dark a.poster {
  color: #526a7d;
}

body.dark .content,
body.dark #container2 {
  color: #c1c1c1;
}

body.dark .hasmail i {
  color: #4f5d66;
}

body.dark #toggledark i {
  color: #526a7d;
}

body.dark .postflair {
  background-color: #526a7d !important;
  border: 1px solid #526a7d !important;
  color: lightgray !important;
}

body.dark .user_flair {
  background-color: #202225;
  border: 1px solid #1d1d1d;
  color: #c1c1c1;
}

/* Hot, Top, New, Domain */

body.dark div#sortbuttons span {
  color: #ddd;
  background-color: #101010;
}

body.dark div#sortbuttons {
  color: #526a7d;
}

body.dark a:hover,
body.dark #sortbuttons a:hover {
  color: #697e8b;
}

body.dark .post .domain a,
body.dark .post .domain {
  color: #7b7b7b;
}

/* Header */

body.dark .th-navbar {
  background-color: #313338;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
}

/* Footer */

body.dark .footer {
  color: #c1c1c1;
/*  background-color: #313338; */
}

/* body.dark .th-navbar.open {
  background-color: #000;
    -webkit-box-shadow: 0 2px 3px 0 var(--dark-shadow);
    -moz-box-shadow: 0 2px 3px 0 var(--dark-shadow);
    box-shadow: 0 2px 3px 0 var(--dark-shadow);
} */

/* Sub bar */

body.dark .th-subbar {
  background-color: #202225;
  border-bottom: 1px solid #40444b;
}

body.dark .th-subbar ul li {
  color: #cdcdcd;
}

body.dark .th-subbar a {
  color: #ccc;
}

body.dark .th-subbar a:hover {
  color: var(--dark-primary-color);
}

/* Posts */
/*
body.dark .comments article.comment.highlight {
  background-color: #40444b;
}
*/

body.dark .content.highlight {
  background-color: #202225;
}

body.dark #container {
  background: #313338;
}

body.dark #center-container {
  background-color: transparent;
}

body.dark .wholepost {
  background-color: #313338;
}

body.dark .pbody {
  background: #313338;
  display: inline-block;
  width: calc(100% - 130px);
  padding: 5px 10px 5px 5px;
  border: none;
  box-shadow: none;
}

body.dark .pbody:hover {
  box-shadow: none;
}

body.dark .post {
  background-color: #313338;
}

body.dark .post:nth-child(2n) {
  background-color: #313338;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);

}

body.dark .pchild {
  margin-left: 26px;
  border-left: 1px dotted #65686b;
}

body.dark .score {
  color: #888888;
}

body.dark .votebuttons {
  fill: #7d7d7d;
  color: #7d7d7d;
}

body.dark .post .title {
  color: #ccc;
}

body.dark .post a.title:hover {
  color: var(--dark-primary-color);
}

body.dark .post .title:visited {
  color: var(--dark-links-visited);
}

body.dark .expandotxt a,
body.dark .post-content-container a,
body.dark .commblock .content a {
    color: #a4b7c7;
}

body.dark .post-content-link-container {
    background: #40444b;
    color: #c1c1c1;
    border: 1px solid #8f8f8f;
}

body.dark .expandotxt a:visited,
body.dark .post-content-container a:visited,
body.dark .commblock .content a:visited {
    color: #7a7a7a;
}

body.dark .post .author {
  color: #7b7b7b;
}

body.dark div.post.mod>div>div>a.authorlink {
  background-color: #888888;
}

body.dark .poster .op-tag {
    color: #429fc3;
}

body.dark .bottombar .reply-comment {
    color: #c1c1c1;
}

body.dark .thumbnail .placeholder svg path {
  fill: #555;
}

body.dark .post .thumbnail img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%);
}

body.dark .post .thumbnail img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%);
}

body.dark .post .thumbnail img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}

body.dark .p-icon[data-icon="exclaim"] path {
  fill: #8c8c8c;
}

/* Buttons */

body.dark .pure-button.button-transparent,
body.dark .pure-button.button-transparent:hover {
  background: none;
}

body.dark .button-secondary,
body.dark .pure-button {
  background: #313338;
  color: #b9bbbe;
  border: 1px solid #303030;
}

body.dark .inboxside .button-secondary {
  background: #202225;
}

body.dark .button-secondary:hover,
body.dark .pure-button:hover {
  background: #40444b;
  color: #b9bbbe;
}

body.dark .pure-button-primary {
  background-color: #202225;
}

body.dark .pure-g-menu .pure-button-primary {
    background-color: #313338 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    border: 1px solid #141617 !important;
    border-bottom: 1px solid #101010 !important;
    margin: 0px 0px 0px 0px !important;
}

body.dark .pure-g-menu .pure-button {
    background-color: #313338;
    position: relative;
    z-index: 1;
    margin: 1px 0px 0px 0px;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #ccc;
    border-bottom: 1px solid #010101;
}

body.dark .pure-button-group .pure-button:last-child {
    border-right: none;
}

body.dark #hiddensubs li a {
    color: #cccccc;
}

body.dark a#nextp,
body.dark a#prevp {
  color: #c0c0c0;
}

body.dark a#nextp:hover,
body.dark a#prevp:hover {
  color: #ffffff;
}

body.dark .pure-button.button-warning {
  background: #202225;
}


/* Expandos */

body.dark .expando {
  background-color: #0a0a0a;
}

body.dark .post .expandotxt,
body.dark .post:nth-child(2n) .expandotxt {
/*  background-color: #202225; */
  color: #aaa;
}

body.dark .pure-control-group label,
body.dark .form label {
  color: #dcd8d9;
}

body.dark input[type="text"]:not(.numInput),
body.dark input[type="email"],
body.dark input[type="url"],
body.dark input[type="password"],
body.dark select {
  color: #dcd8d9;
  background-color: #40444b;
  box-shadow: inset 0 1px 3px #303030;
  border-color: #444;
}

body.dark textarea {
  color: black;
  background-color: #a0a0a0;
}

body.dark {
  color: #666;
}

body.dark .poll-space {
  color: #b9bbbe;
}

body.dark .post-content-container {
  background: #40444b;
  color: #b9bbbe;
  border: 1px solid #8f8f8f;
}

body.dark .editbtns {
  border-color: #444;
}

body.dark .editbtns div {
  border-color: #292929;
}

body.dark .editbtns svg path {
  fill: #666;
}

body.dark input[type="text"]::placeholder,
body.dark input[type="email"]::placeholder,
body.dark input[type="url"]::placeholder,
body.dark textarea::placeholder,
body.dark input[type="password"]::placeholder {
  color: #555;
}

body.dark input#buyamount~b {
  color: #c2c2c2;
}

/* Sidebar */
body.dark .sidebar {
  background-color: #313338;
  border: solid 1px #202225;
  border-bottom: none;
  background: none;

}

body.dark .sidebar p {
  color: #8f8f8f !important;
}

body.dark .sidebar h4 {
  color: #ccc;
}

body.dark input[type="search"] {
  background-color: #202225;
  color: #fff;
  border-color: #40444b;
}

body.dark .flairpicker select {
  background-color: #000;
  color: #fff;
  border-color: #40444b;
}

body.dark .sidebar ul.top5 li a {
  color: #717171;
}

body.dark hr {
  border-bottom: 2px dotted #545454;
}

/* /Sidebar */

/* MESSAGES STYLES */
body.dark .pmessage.post p.title {
  border-bottom: 1px solid #343434;
}

body.dark .pmessage.post {
  background-color: #202225;
}

body.dark .pmessage.post p.container a {
  background-color: rgba(0, 0, 0, 0.2);
}

body.dark .pmessage.post p.container a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #526a7d;
}

body.dark .pmessage p.container a.deletedmsg {
  background-color: rgba(226, 0, 0, 0.3);
  color: #a8a8a8;
}

body.dark .pmessage p.container a.savedmsg {
  background-color: rgba(0, 170, 9, 0.3);
  color: #a8a8a8;
}
/*
body.dark .pmessage.post:nth-child(2n) {
  background-color: #202225;
}
*/
body.dark .modal-content,
body.dark #formpop .modal-content {
  background-color: #111;
  border: 1px solid #4d4848;
  box-shadow: 4px 4px 16px #1d1d1d;
}

body.dark .modal-content h3,
body.dark #formpop .modal-content h3,
body.dark #formpop .modal-content p {
  color: #cccccc;
}

body.dark .modal-content .closemsg,
body.dark #formpop .modal-content .closemsg {
  color: #999;
}

/* /MESSAGES STYLES */

/* SUBS PAGE */
body.dark .subsentry svg {
  fill: #fff;
}

body.dark .sbm-icon svg,
body.dark .i-icon svg {
  fill: #fff;
}

/* /SUBS PAGE */

/* USER PAGE */
body.dark .pblock a,
body.dark .userrow a {
  color: #556a7c;
}

body.dark .pblock.level .inset {
  background-color: #0a0a0a;
}

body.dark .pblock.level {
  background-color: #474747;
}

body.dark .uprofile.content {
  border: 2px solid #474747;
  background: rgba(0, 0, 0, 0.9);
}

body.dark article.comment {
  background-color: #40444b;
}

body.dark article.comment:nth-child(2n) {
  /*  background-color: #393c42;*/
}

body.dark .newmsgbg {
  background-color: #13181a;
}

/* /USER PAGE */

/* misc */
body.dark span.mailcount {
  background: #526a7d;
}

body.dark table td,
body.dark table th,
body.dark table {
  border-color: #4e4e4e;
}

body.dark table thead {
  background-color: #5c5c5c;
}

body.dark path[stroke="#1ea4f4"] {
  stroke: #7b4a3f;
}

body.dark path[fill="#1ea4f4"] {
  fill: #526a7d;
}

body.dark .mod2-inv {
  background-color: #060606;
}

body.dank div:not(.pure-menu):not(.cw-brand):not(#menu) {
  filter: grayscale(100%);
}

body.dank::-webkit-scrollbar {
  background: #555;
}

body.dank .th-l-stroke {
  animation: rb 1s infinite;
}

body.dank .th-l-fill {
  animation: rb2 1s infinite;
}

body.dark .subtitle:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #cccccc;
}

body.dark .subtitle a {
    color: #cccccc;
}

body.dark .th-subnavbar {
  background-color: #313338;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
}

@keyframes rb2 {
  20% {
    fill: red;
  }

  40% {
    fill: yellow;
  }

  60% {
    fill: green;
  }

  80% {
    fill: blue;
  }

  100% {
    fill: orange;
  }
}

@keyframes rb {
  20% {
    stroke: red;
  }

  40% {
    stroke: yellow;
  }

  60% {
    stroke: green;
  }

  80% {
    stroke: blue;
  }

  100% {
    stroke: orange;
  }
}

/* FORM STYLES */

body.dark #login-form,
body.dark #post-form,
body.dark #csub-form {
  background-color: #101010;
}

/* /FORM STYLES */

/* chat */
body.dark #chbott-fixed #chsend {
  border: 1px solid #333;
}

body.dark #chtitle:hover {
  color: #888;
  background: #464646;
}

body.dark #chtitle {
  background: #202225;
  color: #ccc;
  border-bottom: 1px solid #40444b
}

body.dark #chpop {
  background: #202225;
  border-top: 1px solid #40444b;
  border-left: 1px solid #40444b;
  border-right: 1px solid #40444b;
}

body.dark #chcont {
  border-bottom: none;
  color: #ccc;
}

body.dark #chsend {
  background-color: #40444b;
}

body.dark .msg-hl {
  background-color: #111;
}


/* other stuff? */

body.dark a[href="#spoiler"] {
  background-color: #050505;
  color: #050505
}

body.dark .cw-items a {
  color: #fff;
}

body.dark .motto {
  color: #ccc;
}

body.dark .admin_alert {
  background-color: #bd0101;
  color: #dedede;
}

body.dark .admin_alert .btn_link {
  color: #1b006f;
}

body.dark .editbar path {
  fill: #ccccc3;
}

body.dark #hiddensubs {
  background: #000;
  filter: drop-shadow(-20px 20px 18px #000);
}

body.dark #hiddensubs li:hover {
  background-color: #0a0a0a;
}

body.dark thead a {
  color: #231411
}

body.dark blockquote {
    border-left: 1px solid #858687;
    background: transparent;
    background-color: transparent;
    color: #858687;
}
/* alldaposts */

body.dark .alldaposts {
  background: transparent;
  background-color: transparent;
}

body.dark .alldaposts .links a.comments {
  color: #526a7d;
}

body.dark .alldaposts .links a {
  color: #797979;
}

body.dark .stickyposts .links a {
  color: #797979;
}

body.dark .stickyposts .links a.comments {
  color: #526a7d;
}

/* sidebar */

body.dark .sidebar .pure-button-primary {
  color: #fff;
  background-color: #3a3c40;
}

body.dark .sidebar .pure-button-primary:hover {
  background-color: #282828;
}

body.dark .message {
    background-color: transparent;
}

body.dark #center-container-savedcomments {
    background-color: transparent;
}
/* poll */
body.dark .poll-pbar {
  background-color: #4a4a4a;
  border-color: #656565;
}

/* modals */
body.dark .tingle-modal-box {
  background-color: #171717;
}

body.dark .bot-tag {
  border: 1px solid #2f2f2f;
  background: #111;
  color: #7d7d7d;
}

/* deleted comments and posts view for mods and admins */
body.dark .mod.report.preview .preview-text-container.deleted {
  background-color: #171717;
  border: 1px solid #6f1818;
}

body.dark .mod.report.preview .preview-text-container.deleted.post-content-container {
  background-color: #171717;
  border: 1px solid #6f1818;
}

body.dark article.text-post.comment.deleted {
  /*  background-color: #6b6b6b36; */
  /*  border: 1px solid #6f1818; */
}

body.dark .post-content-container.deleted {
  background-color: #171717;
}

body.dark .poll-space.deleted {
  background-color: #171717;
  border: 1px solid #6f1818;
}

body.dark .uploaditem.deleted {
  background-color: #171717;
  border: 1px solid #6f1818;
}

body.dark .deleted-user {
  background-color: #36393f;
}

body.dark .deleted-comment {
  background-color: #202225;
}

body.dark .browse-history {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #171717;
  border: 1px solid #526a7d;
  color: lightgray;
}

body.dark .browse-history.disabled {
  border-color: #333;
  color: #171717;
}

body.dark .browse-history.disabled:focus {
  outline: #333 none;
}

body.dark .browse-history:focus {
  outline: #526a7d none;
}

body.dark .links a.post-open-reports {
  color: #526a7d;
}

body.dark .votecomment {
/*  margin-top: 0.21em;*/
  padding-left: 0.4em;
}

body.dark .allcomments {
  top: 0px;
}

body.dark .sortcomments {
  bottom: 15px;
  right: 0px;
  border: 1px solid #b9bbbe;
}

body.dark #sortby {
  background: #202225;
  color: #b9bbbe;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
}

body.dark .pure-menu-item a {
  background: #202225;
  color: #abbbbe;
}

body.dark .pure-menu-item a:hover {
  background: #666;
  color: #b9bbbe;
}

body.dark .pure-menu-children {
  border-color: #333;
}

body.dark .popup {
  background-color: #121212;
  border-color: #0f0f0f;
}

body.dark .selflair,
body.dark .submitflair {
  background-color: #333;
  color: #777;
  border-color: #222;
}

body.dark .submitflair.selected {
  color: #ddd !important;
  background-color: #161616 !important;
  border-color: #666 !important;
}

body.dark .submitflair:hover {
  background-color: #aaa;
}

body.dark .admin-config-edit {
  fill: #526a7d;
}

body.dark .admin-config-edit:hover {
  fill: #d17262;
}

body.dark .mod-table .header {
  border-color: #4e4e4e;
  background-color: #5c5c5c;
}

body.dark .mod-table,
body.dark .mod-table .header,
body.dark .mod-table .elem,
body.dark .mod-table .close-elem,
body.dark .mod-table .last-elem {
  border-color: #4e4e4e;
}

body.dark .mod-table .elem,
body.dark .mod-table .close-elem,
body.dark .mod-table .last-elem {
  background-color: #222;
}

body.dark .mod-table .elem-content {
  background-color: #222;
  border-color: #4e4e4e;
}

body.dark .RoomView .Timeline_messageBody {
  color: #dddddd;
}

body.dark .RoomView .Timeline_messageOptions {
  background: #343434;
  border-color: #222;
  color: #eee;
}

body.dark .RoomView .MessageComposer_replyPreview {
  background-color: #070707;
  box-shadow: 0 0 5px #111;
}

body.dark .Timeline_messageReactions button,
body.dark .Timeline_messageBody .pill {
  background-color: #333;
  color: #eee;
  border-color: #444;
}

body.dark .AnnouncementView>div {
  background-color: #333;
  color: #eee;
}

body.dark #chpop .menu {
  background-color: #222;
}

body.dark #chpop .menu .button,
body.dark #chpop .menu .menu-item {
  color: #eee;
}

body.dark #chloading {
  color: #ddd;
}

body.dark .stickyposts {
  border-bottom: 1px solid #40444b;
  background-color: #313338;
  background: #313338;
}

body.dark .expando {
  background-color: #96969661 !important;
}

body.dark .expando svg path {
  fill: #ccc;
}

body.dark .announcement {
  padding: 3px;
  margin-right: .5em;
  border-radius: 5px;
  color: #e22;
  background-color: #3f3d3b;
  font-size: small;
}

body.dark .commenthead {
  color: #bbbbbb;
}

body.dark .c-upvote svg,
body.dark .c-downvote svg,
body.dark .upvote svg,
body.dark .downvote svg {
  fill: #c2cccc !important;
}

body.dark .upvote path,
body.dark .c-upvote path,
body.dark .c-downvote path {
  fill: #888888;
}

body.dark .upvoted path {
  fill: #c3cccc;
}

body.dark .downvote path {
  fill: #888888;
}

body.dark .downvoted path {
  fill: #242424;
}

body.dark td.subsentry.subsubscribed {
  border-left: 4px solid #202225;
}

body.dark .stick {
  color: #2c8b05;
}

body.dark .stickytitle {
    color: #2c8b05 !important;
}

body.dark .pblock.level .uprofile-level-box .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #526a7d;
}

body.dark {
  background-color: #36393f !important;
  color: #dcd8d9;
  background: -moz-linear-gradient(top, #36393f 0%, #36393f 100%);
  background: -webkit-linear-gradient(top, #36393f 0%, #36393f 100%);
  background: linear-gradient(to bottom, #36393f 0%, #36393f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36393f', endColorstr='#36393f', GradientType=0);
}

body.dark .commblock {
  border: none;
  background-color: transparent;
}
