@import "variables.css";
body {
	background-color: #fff;
	color: #000;
}

* {
	box-sizing: border-box;
}

abbr[title] {
	text-decoration: none;
}

.currentuserscore {
	color: #bbb;
}

.cw-brand {
	margin-left: .8em;
}

.content {
	word-wrap: break-word;
	margin-bottom: 5px;
}

code, pre {
	background: #f3f3f3;
}

pre {
	padding: .4em;
	overflow-x: auto;
}

code {
	padding: 1px;
	line-height: 1.4em;
}

.th-subbar ul li.editbar, blockquote p {
	margin: 0;
}

blockquote>p:not(:last-child) {
	margin-bottom: 1em;
}

blockquote {
	border-left: 3px solid #e7e7e7;
	margin: .3em 0 .3em 1em;
	padding: .3em 0 .3em .7em;
	color: #525252;
}

.post-content-container blockquote {
	background-color: #fafafa;
	color: #4f4f4f;
}

.cw-items form, .pure-control-group .markdown-editor, .pure-control-group .markdown-editor .editbtns {
	display: inline-block;
}

.editbtns div[data-icon=image] {
	transition: opacity .3s ease;
}

.announcement {
	padding: 3px;
	margin-right: .5em;
	border-radius: 5px;
	color: #fff;
	background-color: var(--primary-color);
	font-size: small;
}

.mod2-inv {
	background-color: #eee;
	border: 1px solid gray;
	padding: 1em;
}

.th-navbar.open, .th-subnavbar.open {
	height: 145px;
	overflow: visible;
}

#th-uinfo {
	text-align: right;
	height: 100%;
}

.th-toggle {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	margin-top: .8em;
	margin-right: .5em;
}

.th-toggle .bar {
	background-color: #fff;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: 18px;
	right: 7px;
	transition: all .5s;
}

.th-toggle .bar:first-child {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}

.th-toggle.x .bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.th-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#th-menu a.pure-menu-link, .cw-items a {
	color: #fff;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
	background-color: initial;
}

.important {
	border: 2px dashed red;
	padding: 2px;
	text-align: center;
}

.div-error {
	display: none;
}

#th-menu a.pure-menu-link:hover, #th-menu li[active=true] a, #th-menu li[active] a {
	background-color: #3965a4;
}

.glyphbutton {
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: .25em;
	margin-left: .25em;
}

.button-transparent, .button-transparent:hover {
	background: 0 0;
}

.btn-rcancel {
	margin-left: 1em;
}

.separator {
	margin-left: .1em;
	margin-right: .25em;
	border-left: 1px #444 dotted;
	padding-top: 3px;
}

a {
	color: #293654d4;
	text-decoration: none;
}

.alldaposts .links a.comments:hover, a:hover {
	color: #64a6ca;
}

.footer {
	font-size: small;
	color: #5d5454;
	padding: 2em;
}

.center-container form h1, .footer {
	text-align: center;
}

.th-navbar {
	background-color: var(--primary-color);
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
	padding: .4em 0 .4em .3em;
	transition: height .5s;
	position: relative;
	height: 64px;
	border-bottom: 1px solid #101010;
}

.pure-button-group .pure-button {
	border-right: none;
}

.pure-button-group .pure-button:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pure-button-group .pure-button:last-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 1px solid var(--primary-color);
}

.pure-g-menu .pure-button {
	background-color: #e6e6e6;
	border: 1px solid var(--primary-color);
	position: relative;
	z-index: 10;
	margin: 1px 0 0;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000;
	border-bottom: 1px solid #010101;
}

div#sortbuttons {
	display: block;
	width: max-content;
	position: relative;
	z-index: 150;
	margin-top: -27px;
	margin-left: -1px;
}

#center-container {
	background-color: #faf9f8;
	display: flex;
	align-items: center;
	justify-content: center;
}

#center-container, #center-container-uploads {
	z-index: 0;
	top: 5.1em;
	left: 0;
	bottom: 4em;
	width: 100%;
}

.uploads-table {
	width: auto;
	border-collapse: collapse;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.uploads-table td, .uploads-table th {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.uploads-table th {
	background: #f4f4f4;
	font-weight: 700;
}

.uploads-table tbody tr:hover {
	background: #f9f9f9;
}

#center-container-savedcomments, #center-container-uploads, .upload-thumb {
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload-thumb {
	width: 100px;
	height: 85px;
	overflow: hidden;
}

.upload-thumb img {
	max-width: 100%;
	max-height: 100%;
}

#center-container-savedcomments {
	background-color: #fff;
	z-index: 0;
	top: 5.1em;
	left: 0;
	bottom: 4em;
	width: 100%;
}

#container {
	padding-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
}

.error {
	margin-top: 1em;
	padding: 5px;
	background-color: #f44336;
	color: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
}

.error span, .message span, iframe {
	display: block;
}

.alert.div-error, .alert.div-message {
	color: #fff;
	margin: 6px;
	padding-top: .1em;
	padding-bottom: .1em;
}

.alert.div-error {
	background: #d92800;
}

.div-error span.closebtn, .div-message span.closebtn {
	margin: 4px;
	float: right;
}

.alert.div-error ul, .alert.div-message ul {
	padding-bottom: 10px;
}

.message {
	padding: 10px 5px;
	background-color: #faf9f8;
	text-align: center;
	font-weight: 700;
}

.div-message {
	display: none;
}

.alert.div-message {
	background: #ff4040;
}

#bottombar {
	height: 4em;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(200,200,200,.5);
	z-index: 100;
}

#coords {
	margin: 1em 1em 0;
	display: block;
}

.c-color, .p-icon-color span {
	display: inline-block;
	position: relative;
}

#curr div, .c-color {
	margin-right: 10px;
	cursor: pointer;
}

.c-color {
	min-width: 32px;
	min-height: 32px;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,.75);
}

#palette {
	margin-top: 1em;
	text-align: center;
}

#info p {
	margin: .2em;
}

#overlay {
	position: fixed;
	z-index: 10000;
	height: 4em;
	bottom: 0;
	padding: 1em;
	font-weight: 600;
	width: 100%;
	background-color: rgba(255,255,255,.8);
	text-align: center;
	vertical-align: middle;
}

span#notification {
	opacity: 1;
	transition: opacity 3s;
	margin-left: .2em;
	font-weight: 700;
}

span#notification.fade {
	opacity: 0;
}

#reticule {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	border: 2px solid #000;
	background-color: transparent;
	box-sizing: content-box;
	pointer-events: none;
	will-change: transform;
	z-index: 100;
}

#curr div {
	height: 3em;
	border: 1px solid #aaa;
	border-radius: 2px;
}

#curr div:hover {
	background-color: #ccc;
}

#curr div.selected {
	background-color: #888;
}

#buyamount {
	width: 8ch;
	margin: 0 10px;
}

.c-color.cancel:after {
	content: "";
	position: absolute;
	border-top: 1px solid red;
	width: 45px;
	transform: rotate(45deg);
	transform-origin: 0 0;
	left: 0;
}

.editbar path {
	fill: #fff;
}

.p-icon {
	margin-top: 5px;
	width: 16px;
	height: 16px;
	display: block;
}

.p-icon-color span {
	margin-top: 5px;
	width: 18px;
	height: 18px;
	top: 1px;
	right: 1px;
	pointer-events: none;
}

.tx-icon {
	display: inline-flex;
	align-self: center;
}

.expando svg, .tx-icon svg {
	height: 1em;
	width: 1em;
	top: .15em;
	position: relative;
}

.inboxside .p-icon, form#msg-form h3 {
	margin-top: 0;
}

.content .hasmail path, .inboxside .p-icon path, .p-icon[data-icon=exclaim] path {
	fill: var(--primary-color);
}

.i-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.p-icon path {
	fill: #e3e3e3;
}

.icon {
	margin-top: 4px;
	width: 22px;
	height: 22px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.hasmail i {
	color: #101010;
}

.sidebar .pure-button-primary {
	color: #fff;
	background-color: #101010;
}

.sidebar .pure-button-primary:hover {
	background-color: #282828;
}

.pure-button-primary, a.pure-button-primary {
	background-color: var(--primary-color);
	color: #fff;
}

.pure-button-primary:hover {
	background-color: var(--button-primary-bg);
	color: var(--button-primary-fg);
}

.center {
	text-align: center;
}

.glyphbutton i {
	font-size: 19px;
}

#filetable, #pbar, #upload-input, .hide, .pure-form input[type=text].hide, .pure-form select.hide {
	display: none;
}

#filetable {
	background-color: #faf9f8;
	padding: 1em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.post {
	min-height: 70px;
	padding: .6em .1em .6em .2em;
}

.post-heading {
	width: -moz-fit-content;
	width: fit-content;
}

.post-heading h1 {
	font-size: medium;
	margin: 0;
	font-weight: 400;
	display: inline-block;
}

.post .title {
	color: #292828e0;
	text-decoration: none;
	line-height: 1.5rem;
	font-size: 18px;
	word-wrap: break-word;
}

.post .title:visited {
	color: var(--post-link-visited);
}

.post a.title:hover {
	color: var(--post-link-hover);
}

.post a.title:visited:hover {
	color: #5d5d5d;
}

.misctainer {
	float: left;
	padding: 0 .2em 0 .1em;
}

.links a, .pbody, a.slink {
	cursor: pointer;
	user-select: none;
}

.pbody {
	background: #fff;
	display: inline-block;
	width: calc(100% - 130px);
    padding: 7px 10px 5px 10px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
}

.pbody:hover {
	background: #f9f9f9;
	transition: all 50ms ease-out;
}

.post:after {
	content: "";
	display: table;
	clear: both;
}

.expando, .p-icon[data-icon=exclaim] {
	display: inline-block;
	top: 6px;
	position: relative;
}

.expando {
	height: 22px;
	width: 22px;
	border-radius: 6px;
	background-color: #ddd;
	text-align: center;
	line-height: 2em;
	color: #444;
	margin-right: .2em;
	margin-left: 0;
	cursor: pointer;
	top: 8.5px;
}

.sbpostauthor {
	padding: 6px;
	margin: 0 4px 10px 3px;
	border: 1px solid #cfc7c7;
	border-radius: 3px;
	background: #fff;
	font-size: 14px;
}

.author .expando {
	top: 0;
	vertical-align: middle;
}

.expando:hover {
	background-color: #cbc9c9;
}

.pure-u-1.pure-u-md-13-24.pastebin {
	width: 80%;
}

iframe {
	border: 0;
}

.iframewrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.iframewrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.expandotxt iframe, .expandotxt img, .expandotxt video {
	max-width: 100%;
}

.resize-handle {
	text-align: right;
	cursor: nwse-resize;
}

.resize-handle .i-icon {
	width: 24px;
	height: 24px;
	display: none;
}

.post .domain, .post .domain a {
	color: #25b2dce8;
	font-size: .7em;
	transition: all .15s ease;
}

.post .author {
	font-size: .7em;
	color: #888;
	margin-top: .4em;
	width: -moz-fit-content;
	width: fit-content;
	line-height: 1.7em;
}

.post .thumbnail {
	width: 70px;
	height: 70px;
	text-align: center;
	position: relative;
	right: 8px;
}

.post .thumbnail img {
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #555;
}

.post .thumbnail:hover {
	-webkit-filter: opacity(85%);
	filter: opacity(85%);
}

.c-downvote, .c-upvote, .downvote, .upvote {
	height: 20px;
	width: 18px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.upvoted path {
	fill: var(--upvote-color);
}

.downvoted path {
	fill: var(--downvote-color);
}

.votebuttons {
	display: inline-block;
	height: 100%;
	width: 40px;
	max-height: 70px;
	padding: .15em .2em 0;
	margin-right: 3px;
	float: left;
}

.score {
	font-size: 17px;
	color: #505050;
	padding-right: 2px;
	margin: 5px 0;
	text-align: center;
	letter-spacing: normal;
}

.score.archived {
	padding-top: 20px;
	padding-left: 3px;
	padding-right: 5px;
}

.thcontainer {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
}

.expando svg path {
	fill: #555;
}

.expando svg {
	width: 20px;
	height: 20px;
	margin-top: 2px;
	top: -1px;
}

.expando .icon svg {
	width: 16px;
	height: 16px;
	top: -5px;
	position: relative;
}

.author .expando .icon svg {
	top: -2.8px;
}

.votebuttons svg {
	width: 16px;
	height: 16px;
	margin: 0;
}

.expandotxt {
	padding: .25em .7em 1em 0;
	position: relative;
}

.expando-wrapper {
	position: relative;
	padding-bottom: 56.25%;  /* 16:9 aspect ratio for YT embeds*/
}

.expando-wrapper:has(.lite-twitter) {
  padding-bottom: 0;
}

.thumbnail .placeholder svg path {
	fill: #888;
}

.pure-menu a svg {
	height: 4em;
	margin: 0 0 4px;
}

.thumbnail .placeholder {
	width: 50px;
	height: 50px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a#nextp, a#prevp {
	color: #fff;
	float: right;
	margin: 1em 2em;
	border-radius: 4px;
}

a#prevp {
	float: left;
}

.links {
	margin: 1px 0 0 .45em;
	padding: 0;
}

.links a, a.slink {
	color: #12619c;
	font-weight: 700;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#flair, .subinfo, .subs {
	text-align: center;
}

.subs {
	margin-bottom: .6em;
}

.subname {
	width: fit-content;
}

.links a {
	position: relative;
	right: 12px;
	font-size: .7em;
	color: #888;
	margin-left: .5em;
}

.links li, .private {
	display: inline-block;
}

.links li {
	padding: 0 .25em;
}

.private {
	vertical-align: super;
	background-color: transparent;
	font-size: 12px;
	line-height: 12px;
	margin-right: .3em;
}

.nsfw, .private {
	padding: 3px;
	border-radius: 4px;
	color: #e22;
	border: 1px solid #e22;
}

.activity-tag, .live-activity-tag, .nsfw {
	display: inline-block;
	background-color: transparent;
	font-size: 12px;
	line-height: 12px;
	margin-right: .3em;
}

.live-activity-tag {
	padding: 3px;
	border-radius: 4px;
	color: var(--primary-color);
	vertical-align: bottom;
	border: 1px solid var(--primary-color);
}

.activity-tag {
	color: #888;
}

.nsfw-blur {
	-webkit-filter: blur(4px);
	filter: blur(4px);
	cursor: pointer;
}

.block-blur, .block-blur.title, a.block-blur.title:visited {
	color: #a61515;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	cursor: pointer;
}

img.block-blur, img.nsfw-blur {
	-webkit-filter: blur(8px);
	filter: blur(8px);
}

.stickyposts {
	border-bottom: 1px solid #efefef;
}

.stickyposts .links a.comments {
	color: #0f5387;
}

.stick {
	color: #0ea34e;
}

.stickytitle {
	color: #0ea34e !important;
	font-weight: 700;
}

.postinfo {
	display: inline-block;
	width: 75%;
}

.popup {
	width: 50%;
	position: absolute;
	top: 5em;
	left: 25%;
	background-color: #fff;
	padding: 1em;
	border: 1px solid gray;
	z-index: 100;
}

.postflair, .selflair {
	border: 1px solid #7b7b7b;
	color: #000;
	background-color: #eee;
	line-height: 2em;
	white-space: nowrap;
	cursor: pointer;
}

.pollflair, .postflair, .selflair, .submitflair {
	padding: 3px;
	border-radius: 5px;
	font-size: small;
}

.pbody .postflair {
	font-size: 11px;
}

.submitflair {
	border: 1px solid #7b7b7b;
	color: #000;
	background-color: #eee;
	white-space: nowrap;
	cursor: pointer;
	margin-right: .3em;
	margin-bottom: .3em;
	line-height: 1em;
}

#flair {
	padding-bottom: .2em;
}

#flair a {
	font-size: small;
	white-space: pre;
}

.submitflair.selected {
	color: #fff !important;
	background-color: #101010 !important;
}

.submitflair.selected:hover {
	background-color: gray !important;
}

#flair-container {
	float: right;
	width: calc(100% - 11em);
	display: flex;
	flex-wrap: wrap;
}

.pollflair {
	margin-right: .5em;
	color: #fff;
	background-color: #6a6c6e;
}

.user_flair {
	border: 1px solid #aaa;
	border-radius: 2px;
	background-color: #eee;
	padding: 3px;
	line-height: 1.4em;
	white-space: nowrap;
	color: #111;
}

.selflair:hover, .submitflair:hover {
	background-color: #d5d5d5 !important;
}

.commenthead {
	font-size: 10px;
	color: #888;
}

.poster {
	font-weight: 700;
}

.poster .op-tag {
	color: #24a0ed;
}

.c-downvote {
	margin-top: 2px;
}

.red-confirm {
	color: red;
	font-size: .8em;
	margin-right: 7px;
}

.red-confirm a {
	position: initial;
	margin-right: 7px;
	margin-left: 2px;
	cursor: pointer;
}

.comment-form {
	margin: 1em 1em 0;
	max-width: 40em;
}

.comment-form button {
	margin-top: .7em;
}

#ban-user-form .date-picker-future.input, #post-source, .alertbox {
	display: none;
}

#logout button, .comments, .comments-locked {
	margin-left: 1em;
}

.recent {
	margin-left: 0;
}

.norecentposts {
	margin-left: 19px;
}

.nosavedposts {
	margin-left: 1.2em;
}

.allcomments {
	font-size: 16px;
	font-weight: 700;
	position: relative;
	top: 3px;
	left: 1px;
}

.allcmnts {
	border-bottom: 1px dotted gray;
	padding-bottom: 5px;
	margin-bottom: 40px;
}

.sortcomments {
	display: inline-block;
	position: relative;
	top: 50px;
	right: 13px;
}

.loadsibling {
	font-size: smaller;
}

#hiddensubs, .canclose .closemsg, span.mailcount {
	position: absolute;
	top: 0;
	right: 0;
}

.canclose {
	position: relative;
}

.cmpreview {
	margin-top: .7em;
	margin-bottom: .4em;
}

.votecomment {
	display: inline-block;
	float: left;
	width: 1.3em;
	text-align: center;
	margin-right: 0;
	margin-top: .2em;
}

.downvote svg, .upvote svg {
	fill: #888;
	block-size: .6em;
}

.c-downvote svg, .c-upvote svg {
	fill: #b6b6b6;
	block-size: .6em;
}

.bottombar a, .togglecomment {
	cursor: pointer;
}

.commblock {
	display: inline-block;
	width: calc(100% - 2em);
	font-family: verdana, arial, sans-serif;
	font-size: 13.5px;
	line-height: normal;
	color: #222;
	background: #fff;
	margin: 0;
	padding: 5px 10px 5px 5px;
}

.commblock .content {
	max-width: 60em;
}

.commblock p {
	margin: 5px 0;
	line-height: 1.4285714285714286em;
}

.button-xsmall {
	font-size: 70%;
}

.button-success {
	background: var(--button-success-bg);
}

.button-error {
	background: var(--button-error-bg);
	color: #fff;
}

.button-warning {
	background: var(--button-warning-bg);
}

.button-secondary {
	color: #fff;
	background: var(--button-secondary-bg);
}

.button-secondary:hover {
	background-color: #282828;
}

#logout button {
	font-size: 14px;
}

span.mailcount {
	top: 12px;
	right: -8px;
	line-height: 1em;
	min-width: 1em;
	border-radius: 1em;
	background: #000;
	font-size: small;
	text-align: center;
	padding: .05em .12em;
	margin-right: 3px;
}

.admin_alert form, .th-subbar ul, .th-subbar ul li, span.hasmail, span.mailcount {
	display: inline-block;
}

.dropdown-toggle.moremenu {
	color: #fff;
	text-align: center;
	font-size: smaller;
	cursor: pointer;
}

#hiddensubs {
	top: 2em;
	z-index: 1000;
	display: none;
	float: right;
	min-width: 160px;
	width: auto;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: 1px solid rgba(204,204,204,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	filter: drop-shadow(-20px 20px 18px #313131);
	flex-flow: column wrap;
	flex-wrap: wrap;
	align-content: flex-start;
	max-height: 60%;
}

.dropdown-toggle.moremenu path {
	fill: #fff;
}

#hiddensubs li:hover {
	background-color: #000;
}

#hiddensubs li {
	display: block;
	padding: 0 5px;
	font-variant: small-caps;
	font-size: larger;
}

#hiddensubs li a {
	color: var(--primary-color);
	width: 100%;
	display: block;
}

#subsdropdown {
	width: 4em;
	display: inline-block;
	margin: .1em .1em .2em;
	vertical-align: super;
}

.th-subbar {
	background-color: #101010;
	border-bottom: 1px solid #101010;
	font-variant: small-caps;
	overflow: hidden;
	height: 26.5px;
}

.th-subbar ul {
	margin: .1em .1em 0;
	padding: 0;
	white-space: nowrap;
	width: calc(100% - 5em);
	overflow: hidden;
}

.th-subbar ul li {
	color: #fff;
	margin: 0 5px;
}

.sidebar p, .th-subbar ul li a {
	color: #eee;
	font-size: .9em;
}

.th-subbar ul li a:hover {
	text-decoration: underline;
}

.alldaposts .links a {
	color: #777;
}

.alldaposts .links a.comments {
	color: #293654d4;
}

a.pure-button.alldaright {
	display: inline-block;
	float: right;
	right: 21px;
	position: relative;
}

a.pure-button.alldarightprev {
	right: 14px;
}

a.pure-button.alldarightinbox, a.pure-button.alldarightprev {
	display: inline-block;
	float: right;
	position: relative;
}

a.pure-button.alldaleftposts {
	display: inline-block;
	left: 14px;
	position: relative;
}

a.pure-button.alldarightcomments, a.pure-button.alldarightposts {
	display: inline-block;
	float: right;
	right: 14px;
	position: relative;
}

a.pure-button.alldarightcomments {
	right: 20px;
}

.nobar, .sidebar {
	background: linear-gradient(0deg,#fff 30%,#e7e7e7 100%);
}

.sidebar {
	padding: 10px 14px 5px;
	overflow-wrap: break-word;
	border-left: solid 1px #cdcdcd;
	border-right: dotted 1px #cdcdcd;
	position: relative !important;
}

.sidebar p {
	padding-right: .5em;
	color: #222 !important;
}

.nobar {
	border-right: solid 1px #cdcdcd;
}

.moderators, .sidebar h4, .sidebar p {
	padding-left: .5em;
}

.createdby {
	text-align: center;
}

.sidebar h4 {
	margin: 0;
	padding-top: 5px;
}

.sidebar ul {
	margin-top: .2em;
}

.sidebarlists ul, .sidebarlists ul.top5 {
	padding: 0 14px 0 18px;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
}

.sidebarlists ul li {
	padding-top: 8px;
}

.sidebar h4, .sidebarlists, .sidebarlists.top5 {
	color: #404040;
}

.sidebarlists h4.top5 {
	color: #404040;
	margin: 0;
	padding: 10px 0 0;
	font-size: 16px;
	position: relative;
	right: 5px;
}

.sidebarlists ul.top5 {
	padding: 0 8px 10px 24px;
	margin: 12px 5px;
	background: #e6e6e6;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.sbm-post {
	display: block;
	margin: 4px 6px 5px;
	border: 1px solid #ccc;
}

.sbm-post-grad {
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: var(--primary-color);
	color: #fff;
	font-size: 18px;
	line-height: 1.47059;
	padding: 4px 15px;
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	display: flex;
	justify-content: center;
}

.sbm-post-grad:hover {
	color: #fff;
	opacity: 90%;
}

.sbm-icon {
	position: relative;
	padding-left: 1em;
}

.sbm-icon svg {
	height: 16px;
	position: absolute;
	left: -.5em;
	top: 50%;
	transform: translateY(-50%);
}

.button-secondary svg {
	fill: #fff;
}

hr {
	border: 0;
	border-bottom: 1px dotted #a6a6a6;
	background: 0 0;
}

.top5 {
	padding-left: 1.4em;
	font-size: 14px;
}

.sidelocale, .sidescore {
	font-size: 12px;
}

.sidescore {
	color: var(--primary-color);
}

.flairpicker select, input[type=search] {
	box-sizing: border-box;
	border: solid #d3d3d3 1px;
	font-size: .9em;
	background-color: #fff;
	-webkit-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}

input[type=search] {
	border-radius: 3px;
	padding: 12px 15px 10px 35px;
	margin: 5px;
}

.search {
	position: relative;
	color: #000;
	font-size: 16px;
}

.search .icon {
	position: absolute;
	top: .7em;
	left: .8em;
	height: 24px;
	width: 24px;
}

.search .icon path {
	fill: #a9a9a9;
}

.flairpicker select {
	border-radius: 4px;
	margin: 10px 5px 5px;
}

a.title {
	color: #4f5156;
	transition: all .15s ease;
}

a.title:hover {
	color: var(--post-link-hover);
}

li.new-item {
	animation: highlightFade 2.5s ease-out;
}

#createPostIcon {
	position: absolute;
	top: .5em;
	right: 3.2em;
	width: 28px;
	height: 28px;
	display: none;
}

#createPostIcon svg {
	height: inherit;
}

.createpost input.sbm-poll-opt {
	margin-right: 1em;
	width: 50%;
}

.post-types-opts {
	padding-bottom: 1em;
}

.postbar {
	white-space: nowrap;
	min-height: 70px;
}

.postbar * {
	white-space: normal;
}

.postbar.post .expandotxt {
	margin-left: 15px;
}

.wholepost .title {
	font-size: 1.25em;
	text-decoration: 1px dotted underline;
}

.wholepost .author {
	font-size: small;
	color: #888;
	margin-top: 0;
}

.post-content-container, .post-content-link-container {
	background: #fafafa;
	color: #222;
	border: 1px solid var(--primary-color);
	border-radius: 3px;
	margin-left: 1.1em;
	margin-right: 1.1em;
	margin-bottom: 2em;
	padding: 5px 10px;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.post-content-link-container {
	margin-left: 1.4em;
}

.post-content-container-nocontent {
	margin: 1em 1em 0;
}

.poll-space {
	padding: 0 1em 1em 3.7em;
	margin-left: .2em;
	margin-right: 1.1em;
	margin-top: 1.1em;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

.expandotxt .poll-space {
	padding: 0 1em 1em .7em;
}

.commblock textarea, .comment-form textarea, .post-content-container textarea {
	resize: both;
	width: 100%;
	overflow: auto;
}

.expando-master .fade-out-content {
	position: relative;
	max-height: 500px;
	overflow: hidden;
	display: block;
}

.expando-master .fade-out-content::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
	pointer-events: none;
}

.cwrap, .pure-control-group .markdown-editor.cwrap {
	margin-top: 5px;
	width: 100%;
}

div.comments {
	padding-right: 15px;
	padding-bottom: 12px;
}

.show-post-comments {
	margin-left: 15px;
	font-size: 16px;
}

.pchild {
	margin-left: 28px;
	border-left: 1px dotted #cecece;
}

.pchild blockquote {
	margin-left: 2em;
}

.pchild-e {
	margin-left: 26px;
}

.commentrow {
	margin-left: 7px;
}

.usercommentrow {
	margin-left: 0;
}

div.commentContent {
	padding-bottom: 5px;
}

div.commentContent p {
	margin-top: .45em;
	margin-bottom: .45em;
}

article.comment .score {
	margin: 0;
	line-height: 15px;
}

.editbtns {
	height: 26px;
	margin-top: 2px;
	padding-left: .2em;
	width: 100%;
	border: 1px solid #ccc;
}

.editbtns .separator {
	border: 0;
}

.editbtns div {
	margin-top: 2px;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 6px;
	text-align: center;
	padding-top: 1px;
}

.editbtns div:hover {
	background: #ccc;
}

.editbtns div svg {
	height: 18px;
}

.markdown-editor textarea {
	display: block;
	padding-top: .3em;
	border-top: none;
	margin-top: 0;
	height: 6.5em;
	box-shadow: none;
	border-top-left-radius: unset;
	border-top-right-radius: unset;
	width: 100%;
	box-shadow: 0 0 3px rgb(0 0 0/10%);
}

.bottom-area {
	overflow: hidden;
	width: 100%;
}

.help-toggle a {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
	color: #369;
	font-size: smaller;
}

.markhelp {
	display: none;
	padding: 4px;
	margin: 24px 0 5px;
	border-top: 1px dotted silver;
}

.markhelp table {
	width: 100%;
	margin: 5px 0;
	color: #222;
}

.markhelp td, .markhelp tr {
	width: 50%;
	border: 1px solid silver;
	text-align: left;
	padding: 4px 9px;
	vertical-align: baseline;
}

.spaces {
	background-color: silver;
}

.center-container .content, .comments .content img, .post-content-container img {
	max-width: 100%;
}

.pmessage.post p.title {
	border-bottom: 1px solid #c8c8c8;
}

.pmessage.post {
	min-height: 70px;
	padding: .8em;
	border-radius: 8px 0 0 8px;
	background-color: #fefefe;
	-webkit-box-shadow: -3px 2px 4px 0 rgba(0,0,0,.1);
	-moz-box-shadow: -3px 2px 4px 0 rgba(0,0,0,.1);
	box-shadow: -3px 2px 4px 0 rgba(0,0,0,.1);
	margin: 8px 0;
}

.pmessage.post:nth-child(2n) {
	background-color: #fff;
	-webkit-box-shadow: -3px 2px 4px 0 rgba(0,0,0,.1);
	-moz-box-shadow: -3px 2px 4px 0 rgba(0,0,0,.1);
	box-shadow: -3px 2px 4px 0 rgba(0,0,0,.1);
}

.pmessage p.container a:hover {
	background: var(--primary-color);
	color: #fff;
}

.pmessage p.container a, .subsentry p.container button, .subsentry span.subcount {
	cursor: pointer;
	padding: .5em 1em;
	border-radius: 3px;
	background-color: rgba(0,0,0,.06);
}

.pmessage p.container a {
	margin: 4px 4px 0 0;
	display: inline-block;
}

.pmessage p.container a.deletedmsg {
	background: #e20000;
	color: #fff;
}

.pmessage p.container a.savedmsg {
	background: #00aa09;
	color: #fff;
}

article.pmessage.post.newmsg {
	border-left: 5px solid var(--primary-color);
}

.newmsgbg {
	background-color: #5a82950d;
	margin-left: 31px;
}

.inbox.content {
	width: 96%;
}

form#msg-form {
	padding: 20px;
}

.closemsg, .closepopmsg {
	float: right;
	font-size: 26px;
	cursor: pointer;
}

.content.highlight {
	background-color: #ffc;
}

.deleted-comment {
	background-color: #f0f0f0;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

.collapsed-comment {
	font-style: italic;
}

.collapsed-comment .togglecomment {
	font-style: normal;
}

#blockpop, #formpop, #modpop {
	position: fixed;
	z-index: 100;
	padding-top: 108px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0,0,0,.4);
}

#blockpop .modal-content, #formpop .modal-content, #modpop .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	border-radius: 10px;
	box-shadow: 4px 4px 16px #555;
}

textarea#content {
	width: calc(100% - 300px);
}

#msgpop textarea#content {
	width: 100%;
}

.sortable td {
	-webkit-box-shadow: -3px 2px 4px 0 rgba(0,0,0,.04);
	-moz-box-shadow: -3px 2px 4px 0 rgba(0,0,0,.04);
	box-shadow: -3px 2px 4px 0 rgba(0,0,0,.04);
}

#center-container-subs {
	display: flex;
	justify-content: center;
}

.subsentry .author {
	min-height: 40px;
}

.subsentry p.container button, .subsentry span.subcount {
	margin-right: 4px;
}

td.subsentry.subsubscribed {
	border-left: 4px solid var(--primary-color);
}

td.subsentry.blocked {
	border-left: 4px solid #b40000;
}

td.subsentry.unsubscribed {
    border-left: 4px solid transparent;
}

.sortable th svg {
	height: 16px;
}

.uprofile-top, li.profilebadge {
	text-align: center;
}

.deleted-user {
	background-color: #faf9f8;
}

.uprofile-top .score {
	font-weight: 700;
}

.pblock {
	display: inline-block;
	vertical-align: top;
}

.pblock.level {
	width: 120px;
	height: 120px;
	background-color: #d6dadc;
	border-radius: 50%;
	vertical-align: bottom;
}

.pblock.level .uprofile-level-box .fill, .pblock.level .uprofile-level-box .mask {
	width: 120px;
	height: 120px;
	position: absolute;
	border-radius: 50%;
	transition: -webkit-transform 1s;
	transition: -ms-transform 1s;
	transition: transform 1s;
	backface-visibility: hidden;
}

.pblock.level .uprofile-level-box .mask {
	clip: rect(0,120px,120px,60px);
}

.pblock.level .uprofile-level-box .fill {
	clip: rect(0,60px,120px,0);
	background-color: var(--primary-color);
}

.pblock.level .inset {
	width: 100px;
	height: 100px;
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #f1f1f1;
	border-radius: 50%;
}

.pblock.level .inset .levelNo {
	line-height: 50px;
	font-size: 60px;
	font-weight: 600;
}

.uprofile-top p {
	margin-top: 3em;
}

#userBadges {
	padding: 0;
}

.statdiv {
	margin-left: 1em;
	margin-top: 1em;
}

li.profilebadge {
	list-style: none;
	display: inline-block;
	height: 48px;
	width: 48px;
	border-radius: 10px;
	margin: 4px;
}

.ucount {
	font-size: 34px;
	font-weight: 700;
}

.profilebadgeicon {
	font-size: 38px;
	padding: 0;
}

.profilebadgename, .profilebadgexp {
	font-size: 12px;
}

article.comment {
	padding: .4em 0 0;
	margin: 4px 0;
}

.commtitle {
	margin: 7px 7px 0 0;
	font-size: 14px;
}

.userrow, td.close-report-button {
	text-align: center;
}

.userrow .pblock, .userrow h3, li.habitentry {
	text-align: left;
}

.pblock a, .userrow a {
	color: #0f5387;
}

ul#th-menu ul.left li {
	display: inline-block;
	margin-left: 4px;
}

.pure-menu a svg.logo {
	height: 2.8em;
	margin-top: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}

table td, table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: .5em 1em;
	text-align: center;
}

table thead {
	background-color: #e0e0e0;
	color: #000;
	vertical-align: bottom;
}

table td {
	background-color: transparent;
}

#csub-form h1, #login-form h1, #post-form h1 {
	text-align: center;
	margin-top: 0;
}

#csub-form, #login-form, #post-form {
	border-radius: 8px;
	background-color: #fefefe;
	padding: 1em;
	margin-bottom: 2em;
	-webkit-box-shadow: -1px 3px 4px 0 rgb(0 0 0/10%);
	-moz-box-shadow: -1px 3px 4px 0 rgb(0 0 0/10%);
	box-shadow: -1px 3px 4px 0 rgb(0 0 0/10%);
}

#cht-text {
	height: 1.8em;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.8em;
	color: #fff;
}

.glyphbutton .p-icon {
	margin-top: 2px;
}

#chtitle .glyphbutton {
	top: 0;
	float: right;
	margin-right: 1em;
}

.bigchat {
	height: 75vh;
}

#fixedchat {
	height: 70vh;
}

#chbott-fixed {
	margin-top: .3em;
}

#chbott-fixed #chsend {
	border: 1px solid;
}

#chpop {
	box-shadow: 0 0 6px 1px rgba(0,0,0,.75);
	border: 0;
	width: 25%;
	position: fixed;
	right: 1em;
	bottom: 0;
	background: #eee;
	border-radius: 2px 2px 0 0;
	height: 50%;
}

#chbott {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
	border-top: 1px solid #666;
}

#chstatus {
	color: #555;
	height: 1.3em;
	font-size: smaller;
	font-style: italic;
	padding-left: .5em;
}

#chsend {
	border: 0;
	width: 100%;
	height: 1.7em;
	padding-left: 5px;
}

#chcont {
	border-bottom: solid 1px #bbb;
	margin-left: 2px;
	height: calc(100% - 5.5em);
	color: #111;
	font-family: monospace;
	overflow-y: scroll;
	overflow-x: hidden;
}

#chtitle {
	background: var(--primary-color);
	font-size: smaller;
	height: 1.8em;
	padding-top: .2em;
	padding-left: .5em;
	cursor: pointer;
}

#chtitle a, a[href="#spoiler"]:hover, body.dark a[href="#spoiler"]:hover {
	color: #fff;
}

#chtitle:hover {
	background: #8e98a7;
}

.msguser {
	padding-right: 5px;
	color: maroon;
}

#chcont::-webkit-scrollbar {
	width: 4px;
	background: #555;
	z-index: -1;
}

#chcont::-webkit-scrollbar-thumb {
	background: #101010;
}

.msg-hl {
	background-color: #d7d7d7;
}

.msg-ac {
	font-style: italic;
}

.msgtime {
	color: gray;
	font-size: 12px;
}

.irc-underline {
	text-decoration: underline;
}

.irc-italic {
	font-style: italic;
}

.irc-bold {
	font-weight: 700;
}

.irc-fg0 {
	color: #ccc;
}

.irc-fg1 {
	color: #000;
}

.irc-fg2 {
	color: #3535b3;
}

.irc-fg3 {
	color: #2a8c2a;
}

.irc-fg4 {
	color: #c33b3b;
}

.irc-fg5 {
	color: #c73232;
}

.irc-fg6 {
	color: #80267f;
}

.irc-fg7 {
	color: #66361f;
}

.irc-fg8 {
	color: #d9a641;
}

.irc-fg9 {
	color: #3dcc3d;
}

.irc-fg10 {
	color: #195555;
}

.irc-fg11 {
	color: #2e8c74;
}

.irc-fg12 {
	color: #4545e6;
}

.irc-fg13 {
	color: #b037b0;
}

.irc-fg14 {
	color: #4c4c4c;
}

.irc-fg15 {
	color: #959595;
}

.irc-bg0 {
	background-color: #ccc;
}

.irc-bg1 {
	background-color: #000;
}

.irc-bg2 {
	background-color: #3535b3;
}

.irc-bg3 {
	background-color: #2a8c2a;
}

.irc-bg4 {
	background-color: #c33b3b;
}

.irc-bg5 {
	background-color: #c73232;
}

.irc-bg6 {
	background-color: #80267f;
}

.irc-bg7 {
	background-color: #66361f;
}

.irc-bg8 {
	background-color: #d9a641;
}

.irc-bg9 {
	background-color: #3dcc3d;
}

.irc-bg10 {
	background-color: #195555;
}

.irc-bg11 {
	background-color: #2e8c74;
}

.irc-bg12 {
	background-color: #4545e6;
}

.irc-bg13 {
	background-color: #b037b0;
}

.irc-bg14 {
	background-color: #4c4c4c;
}

.irc-bg15 {
	background-color: #959595;
}

.poll-pbar {
	border: 1px solid #ccc;
	width: 70%;
	margin: 0 5px 2px -5px;
	padding: 1px;
	height: 1.5em;
	background: #fff;
}

.poll-pbar, .poll-space .poll-vote, .poll-space .poll-votes {
	vertical-align: middle;
	display: inline-block;
}

.poll-pbar>div {
	background-color: #526a7d;
	height: 1.25em;
}

.poll-pbar.poll-voted>div {
	background-color: var(--primary-color);
}

.poll-pbar.poll-voted {
	border-color: var(--primary-highlight);
}

.uploads.content {
	max-width: 640px;
	display: grid;
}

.uploaditem {
	float: left;
	width: 140px;
	height: 140px;
	border: 1px solid rgba(85,85,85,.25);
	text-align: center;
}

.uploadlinks {
	padding: 4px;
}

.uploadlink {
	margin-top: 4px;
}

.uploadthumb {
	width: 140px;
	height: 140px;
	margin: auto;
	border-radius: 4px;
}

.deletedcomment, .deletedpost, tr.deletedrow {
	background: #a752524a !important;
}

spoiler:not(.shown) a {
	pointer-events: none;
	color: #111;
}

spoiler:not(.shown) {
	color: #111;
	background-color: #111;
	border-radius: 3px;
	-webkit-user-select: none;
	user-select: none;
}

spoiler {
	transition: background-color 400ms linear;
}

a[href="#toodamncool"] {
	animation: rb3 4s infinite;
	font-weight: 900;
}

.commblock .content, .expandotxt, .post-content-container {
	word-wrap: break-word;
}

.commblock .content a, .expandotxt a, .post-content-container a {
	color: #0077d0;
}

.commblock .content a:visited, .expandotxt a:visited, .post-content-container a:visited {
	color: #7d5d8a;
}

.expando-master {
	display: block;
	margin-top: .7em;
}

.postbar .expando-master {
	display: block;
	margin-top: 20px;
}

.replybox {
	margin-bottom: 1em;
	max-width: 48em;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid {
	color: #b94a48;
	border-color: #000;
	outline: -webkit-focus-ring-color auto 1px;
}

.admin_alert, .motto {
	color: #fff;
	display: block;
}

.motto {
	font-size: smaller;
	font-variant: small-caps;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-box-direction: normal;
	-webkit-font-smoothing: antialiased;
	margin-left: 35px;
	position: relative;
	bottom: 36px;
}

#logocont {
	z-index: -1;
	position: absolute;
}

.admin_alert {
	background-color: #bf0819;
	top: 0;
	position: fixed;
	width: 100%;
	height: 1.5em;
	font-size: 1.1em;
	text-align: center;
	line-height: 1.5em;
	z-index: 150;
}

.body_admin {
	margin-top: 1.5em;
}

.btn_link {
	background: 0 0;
	border: 0;
	padding: 0;
	color: #0f5386;
	font: inherit;
	text-decoration: underline;
}

.subsort_item {
	cursor: move;
	padding: 10px 40px;
	width: 20em;
	background: rgba(0,0,0,.1);
}

#subsort {
	list-style: none;
}

.bot-tag {
	border-radius: 2px;
	border: 1px solid #afa8a8;
	padding: 1px 3px;
	background: #eee;
	color: #5d5454;
}

.toggledark, a.close-report {
	cursor: pointer;
}

.invitecodes .expired {
	color: gray;
	text-decoration: line-through;
}

.new-g {
	margin-left: auto;
	margin-right: auto;
}

.new-form-one {
	width: auto;
}

label.new-form-one {
	display: inline-block;
	width: 15em;
	text-align: right;
}

button.new-form-one {
	margin-top: 1em;
	margin-left: 15em;
}

.autocomplete>div.selected {
	background: #d2d2d2 !important;
}

.wholepost .postinfo .links {
	margin: 4px 0 0 .25em;
}

.commblock .bottombar.links {
	margin: 0 0 0 .25em;
	font: -webkit-control;
	font-size: 14.5px;
}

.bottombar.links a:hover, .links a:hover {
	text-decoration: underline;
}

.links a.comments:hover {
	text-decoration: none;
}

.label-v {
	clear: both;
	display: inline-table;
	overflow: hidden;
}

.label-v .pure-control-group {
	float: left;
}

.helper-text {
	font-style: italic;
	color: gray;
}

.mod-dash-subs {
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.mod-dash-sub {
	margin: 10px;
}

.mod .user-actions .pure-button, .mod.report.close.buttons button {
	margin: 5px;
	white-space: normal;
	height: 90%;
}

.mod button.disabled {
	background-color: gray;
	pointer-events: none;
}

.mod.report.details {
	margin: 20px auto;
	width: 100%;
}

.mod.report.preview .preview-meta-data a, .report-details-item .label {
	font-weight: 700;
}

.mod.report.preview {
	max-width: 600px;
}

.mod.report.preview .preview-text-container {
	border-left: 3px solid gray;
	margin: 10px;
}

.mod.report.preview .preview-text-container .preview-text {
	background-color: #f7f7f7;
	padding: 0 10px 10px;
}

.mod.report.preview .preview-meta-data div {
	color: gray;
	margin-top: 5px;
}

.mod-sidebar.header {
	text-align: center;
}

div.post.admin>div>div>a.authorlink {
	display: inline-block;
	background-color: #f30414bd;
	color: #000;
	border-radius: 2px;
	padding: .15em;
}

article.text-post.comment.admin>div>div>div>a.poster {
	display: inline-block;
	background-color: var(--primary-color);
	color: #000;
	border-radius: 2px;
	padding: .15em;
}

article.text-post.comment.mod>div>div>div>a.poster, div.post.mod>div>div>a.authorlink {
	display: inline-block;
	background-color: #59cbef1f;
	color: #000;
	border-radius: 2px;
	padding: .15em;
}

.mod.report.preview .preview-text-container.deleted, .mod.report.preview .preview-text-container.deleted.post-content-container, .poll-space.deleted, .post-content-container.deleted {
	background-color: #f1f1f1;
}

.uploaditem.deleted {
	background-color: #fdd8d4;
}

.post-history-controls {
	margin: 1em 1em 0;
}

.title-history-controls {
	margin: 1em 0;
}

.title-history-controls button {
	font-size: 1em;
}

.browse-history:focus {
	outline: 0;
}

.browse-history.disabled:focus {
	outline: #d3d3d3;
}

.browse-history {
	border-radius: 2px;
	cursor: pointer;
	box-shadow: -2px 1px 3px 0 rgba(0,0,0,.1);
}

.browse-history.disabled {
	cursor: not-allowed;
	pointer-events: none;
	border-color: #d3d3d3;
	color: #d3d3d3;
}

.wholepost .old.history {
	color: gray;
}

.wholepost .history-meta {
	color: gray;
	font-size: smaller;
}

.links a.post-open-reports {
	color: red;
	font-weight: 700;
}

.removebanneddomain {
	float: right;
	margin-left: 10px;
}

.loginlinklist {
	list-style: none;
	line-height: 1.4;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
}

.mw-75 {
	min-width: 75%;
}

.st-flair {
	display: inline-block;
	margin-left: 1em;
	margin-top: 5px;
}

#sortby {
	font-size: 14px;
	text-align: center;
	cursor: default;
}

.pure-menu-link-sort {
	color: #000;
	font-size: 14px;
}

.pure-menu-children {
	min-width: 65%;
	border: 1px solid gray;
}

.pure-menu-horizontal .pure-menu-children {
	left: 5.6em;
	top: 1.7em;
	width: inherit;
}

.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after {
	content: "▼";
}

.pure-menu-has-children>.pure-menu-link:after {
	padding-left: 0;
	margin-left: .2em;
	font-size: smaller;
}

.invitecode-users {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pure-form-aligned .pure-controls {
	margin: 0;
}

.pure-form-aligned .pure-control-group label {
	text-align: right;
	display: inline;
}

.edited {
	position: relative;
	cursor: default;
}

.edited-title {
	opacity: 0;
}

.edited:hover>.edited-title {
	width: max-content;
	border: 1px solid #4d4c4c;
	padding: 6px;
	text-align: center;
	background-color: #fff;
	font-size: 11px;
	color: #4d4c4c;
	opacity: 1;
	position: absolute;
	top: 21px;
	left: 13px;
	transition: opacity;
	transition-delay: .6s;
}

.banner-text-link {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	transform: translate(-50%,-50%);
	letter-spacing: 1px;
	font-weight: 700;
	background-size: cover;
	display: none;
}

.banner-text-link, .banner-text-link:hover {
	color: #fff;
	text-decoration: none;
}

.banner-link {
	z-index: -10;
}

.active-page-link {
	color: #de1414;
}

.sub label {
	text-align: left !important;
	display: inline-block !important;
}

.ltxcont label, .txcont label {
	display: block !important;
	text-align: left !important;
}

.createpost .bottom-area, .createpost .editbtns, .createpost [type=text], .createpost [type=url], .createpost textarea {
	display: block !important;
	width: 600px !important;
}

.createpost .lnicont {
	display: block;
}

input[name=captcha], input[name=confirm], input[name=email_optional], input[name=invitecode], input[name=password], input[name=username] {
	display: block !important;
	width: 300px !important;
}

.inviteq {
	font-size: 14px;
	text-align: right;
	margin-top: 2px;
}

.createpost #captcha, .createpost input[name=sub], input[name=captcha] {
	width: 250px !important;
}

.left {
	text-align: left;
}

.inline {
	display: inline-block;
}

.gray {
	color: gray;
}

.red {
	color: red;
}

.bigger {
	font-size: bigger;
}

.normal {
	font-size: normal;
}

.medium {
	font-size: medium;
}

.small {
	font-size: small;
}

.smaller {
	font-size: smaller;
}

.attention {
	color: red;
	font-size: large;
	font-weight: 700;
	text-align: center;
}

.admin-config {
	max-width: 682px;
	text-align-last: left;
}

.admin-config-name {
	width: 35%;
}

.admin-config-value {
	width: 60%;
}

.admin-config-action {
	width: 5%;
}

.admin-config-doc-toggle {
	font-size: smallest;
	padding-right: 5px;
	cursor: pointer;
}

.admin-config-edit-form input {
	width: 100%;
}

.admin-config-edit {
	fill: #00419d;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.admin-config-edit:hover {
	fill: #64a6ca;
}

.ignore-form {
	max-width: 100%;
	display: inline-block;
	margin-left: 1em;
}

.ignore-form-select {
	max-width: 100%;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

#container.mod-container {
	padding-right: .5em;
}

.mod-table {
	padding-inline-start: 0;
	width: 100%;
	border: 0;
}

.mod-table .header {
	color: #000;
	font-weight: 700;
	background-color: #e0e0e0;
	border: 1px solid #cbcbcb;
	padding: .5em;
	vertical-align: text-bottom;
}

li.mod-table-header {
	margin-top: 0;
	border: 0;
}

.mod-table .close-elem, .mod-table .elem, .mod-table .last-elem {
	background-color: #f7f7f7;
	border: 1px solid #cbcbcb;
	padding: .5em;
	vertical-align: bottom;
}

.mod-table .close-elem, .mod-table .header {
	display: none;
}

.mod-table .elem::before, .mod-table .last-elem::before {
	font-weight: 700;
	padding: .5em;
	content: attr(data-name);
}

.mod-table .elem-content {
	background-color: #f7f7f7;
	border: 1px solid #cbcbcb;
	padding: 0 .5em .5em;
	vertical-align: bottom;
}

.mod-table .close-button {
	display: block;
	margin-top: 2px;
	margin-bottom: 15px;
}

.mod-table .last-elem {
	margin-bottom: 15px;
}

:root {
	font-size: unset !important;
}

.RoomView {
	height: calc(100% - 1.8em);
	font-size: 14px;
}

#chpop.hydrogen {
	font-size: unset;
}

#chpop.hydrogen .menu button {
	font-size: 15px;
}

#chpop.hydrogen .popupContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90000;
}

.logocont .logo {
	background: 0 0;
}

#chloading {
	padding: 1em;
}

@keyframes highlightFade {
	0% {
		background-color: #fff;
	}

	to {
		background-color: transparent;
	}
}

@keyframes rb3 {
	20% {
		color: red;
	}

	40% {
		color: #ff0;
	}

	60% {
		color: green;
	}

	80% {
		color: #00f;
	}

	to {
		color: orange;
	}
}

/* Small Mobile First (max-width: 35.5em / 480px) */
@media screen and (max-width: 35.5em), (max-width: 480px) {
  .content.createpost {
    width: 90%;
  }

  .createpost input#link,
  .createpost input#title,
  form#msg-form .editbtns,
  input#subject,
  textarea#content,
  #flair-container {
    width: 100%;
  }

    #container {
        padding-left: 0;
    }

  .misctainer {
    padding: 0;
  }

  .pbody {
    width: calc(100% - 110px);
  }

  .content.wiki {
    width: 95%;
  }

  .post .thumbnail {
    margin-left: -6px;
  }
}

/* Small to Medium Screens (max-width: 50.999em) */
@media screen and (max-width: 50.999em) {
  /* Navigation and Menu */
  #createPostIcon {
    display: block !important;
  }

  .pure-u-1.pure-u-md-10-24 .pure-g-menu {
    display: none;
  }

  .th-navbar,
  .th-subnavbar {
    overflow: hidden;
  }

  .th-navbar.open ~ * .pure-u-1.pure-u-md-10-24 .pure-g-menu,
  .th-subnavbar.open ~ * .pure-u-1.pure-u-md-10-24 .pure-g-menu {
    display: block;
    margin-left: -1px;
  }

  /* User Info and Sidebar */
  #th-uinfo {
    padding-right: 14px;
    text-align: right;
  }

  .th-toggle,
  div.sidebar,
  div.sidebar.open {
    display: block;
  }

  div.sidebar {
    box-shadow: 0 3px 5px 0 var(--primary-shadow);
    background-color: #fff;
    position: absolute;
  }

  .th-body {
    position: relative;
  }

  /* Chat Popup */
  #chpop {
    min-width: 50%;
  }

  #chpop.chexpanded {
    min-width: 98%;
    right: 0.2em;
  }

  /* Layout and Positioning */
  .subtitle {
    left: 10px !important;
  }

  .cw-items {
    align-items: baseline;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 5%;
    transform: translateY(-50%);
  }

  .expandotxt,
  .th-navbar .pure-g-menu,
  .th-subnavbar .pure-g-menu {
    margin-left: 0;
  }

  .expando-master .fade-out-content,
  .expandotxt {
    padding: 0px 0px 0px 4px;
  }

  /* Post Layout */
  .wholepost .thcontainer {
    display: none;
  }

  .wholepost .misctainer {
    float: none;
  }
}

/* Small Screens (max-width: 600px) */
@media screen and (max-width: 600px) {
  /* Create Post Form Elements */
  .createpost .bottom-area,
  .createpost .editbtns,
  .createpost [type="text"],
  .createpost [type="url"],
  .createpost textarea {
    display: block !important;
    width: 300px !important;
  }
}

/* Medium Screens (max-width: 915px) */
@media screen and (max-width: 915px) {
  /* Voting and Layout */
  .votebuttons {
    margin-right: 0;
    position: relative;
    right: 5px;
    width: 40px;
  }

  .pure-u-1-2 {
    display: block;
  }

  .pure-form-aligned .pure-controls {
    margin: 0;
  }

  /* Text and Layout */
  .banner-text-link {
    font-size: 18px;
  }

  /* Grid Layout Adjustments */
  .pure-u-md-18-24,
  .pure-u-md-3-4 {
    width: 75%;
  }

  .pure-u-md-1-4,
  .pure-u-md-6-24 {
    width: 25%;
  }

  .pure-u-1,
  .pure-u-1-1,
  .pure-u-24-24,
  .pure-u-5-5 {
    width: 100% !important;
  }

  /* Subscription Content */
  .subs.content {
    font-size: 11px;
  }

  .sbm-icon svg {
    height: 12px;
    left: -0.7em;
  }
}

/* Default Desktop (min-width: 35.5em) */
@media screen and (min-width: 35.5em) {
  .content.createpost {
    width: 700px;
  }

  .createpost input#link,
  .createpost input#title,
  .createpost textarea#content,
  .pure-control-group .markdown-editor {
    width: calc(100% - 11em);
  }

  .content.wiki {
    width: 65%;
  }
}

/* Large Screens (min-width: 51em) */
@media screen and (min-width: 51em) {
  /* Navigation */
  #th-menu {
    padding-left: 2em;
  }

  .th-navbar .pure-g-menu,
  .th-subnavbar .pure-g-menu {
    display: block !important;
  }

  /* Content Wrapper Items */
  .cw-items {
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  /* User Info */
  #th-uinfo {
    position: absolute;
    right: 1em;
    text-align: right;
    top: 0;
    z-index: 0;
  }

  /* Mod Table Styling */
  .mod-table,
  li.mod-table-header {
    border: 1px solid #cbcbcb;
  }

  .mod-table .close-elem,
  .mod-table .header {
    display: block;
  }

  .mod-table .elem::before,
  .mod-table .last-elem::before {
    content: "";
    padding: 0;
  }

  .mod-table .close-button {
    display: none;
  }

  .mod-table .last-elem {
    margin-bottom: 0;
  }
}

/* Extra Large Screens (min-width: 915px) */
@media screen and (min-width: 915px) {
  .mod.report.content {
    min-width: 650px;
  }

  .pure-u-md-18-24,
  .pure-u-md-3-4 {
    width: 80%;
  }
}

/* Ensure navbar does not cover sortbuttons in portrait mode on tablets*/
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: portrait) {
  .th-navbar {
      height: unset;
  }
}

/* Wider center container for tablets in landscape mode */
@media only screen
  and (min-width: 768px)
  and (max-width: 1366px)
  and (orientation: landscape) {
    .pure-u-md-7-24 {
        width: 25%;
  }
    .pure-u-md-10-24 {
        width: 50%;
  }
}

/* Small to Medium Screens (max-width: 50.999em) */
@media screen and (max-width: 50.999em) and (orientation: portrait) {
  .misctainer {
    padding: 0;
    transform: scale(0.9);
  }

   .votebuttons {
        right: 8px;
    }

    .thcontainer {
        width: 55px;
    }

	  .pbody {
    width: calc(100% - 97px);
  }
}
