:root {
    /*
    The site's primary color. Used for sidebars, buttons and some icons on light mode. Also used by the color picker JS tool, multiple values hardcoded in Setcolor.js
    Phuks: #d94f00
    */
    --primary-color: #46586e;
    /* Used as box-shadow color */
    --primary-shadow: #46586e;

    /* Post link colors */
    /*
    Hover color for post links
    Phuks: #ff6d15
     */
    --post-link-hover: #848484;
    /**
    Color for visited links.
    Phuks: #d95204
     */
    --post-link-visited: #5c6c74;

    /*
    Used only in the chatbox at the moment
    Phuks: #b74500
     */
    --primary-highlight: #b1bbc9;

    /* These are used only for buttons */
    --button-success-bg: rgb(28, 184, 65);
    /* Green buttons. Currently unused */
    --button-error-bg: rgb(202, 60, 60);
    /* Red button. Menacing. */
    --button-warning-bg: rgb(200, 5, 17);
    /* Orange button. Mostly known for being the "block" button on subs */

    /* Used as the "active" form of some buttons (profile, PMs, settings, sub sort) */
    --button-secondary-bg: #101010;

    /* Primary buttons used all over the site */
    --button-primary-bg: #62758f;
    --button-primary-fg: #fff;


    /* Up/downvote colors */
    --upvote-color: var(--primary-color);
    --downvote-color: black;

    /** --- Dark mode --- */
    /*
    Primary dark-mode color. Mostly used for links hover color and the logo (if supported)
    Phuks: #ff6d15
     */
    --dark-primary-color: #4f5d66;
    /**
    Color for visited links
    Phuks: #d95204
    **/
    --dark-links-visited: #888;
    /*
    Secondary link color. Used for subs on post lists and for the sidebar
    Phuks: #ab4409
    */
    --dark-links-a: #526a7d;
    /** Box-shadow in dark mode */
    --dark-shadow: #aa4509;
}
