{% extends "layout.html" %}
{% block title %}Posts from /u/{{user.name}} | {{config.site.lema}}{% endblock %}

{% block sidebar %}
{{ super() }}
<a href="{{url_for('user.view', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
<a href="{{url_for('user.view_user_posts', user=user.name)}}" class="sbm-post pure-button">{{_('View posts')}}</a>
<a href="{{url_for('user.view_user_comments', user=user.name)}}" class="sbm-post pure-button">{{_('View comments')}}</a>
{% if user.uid == current_user.uid %}
  {% if current_user.canupload %}
    <a href="{{url_for('user.view_user_uploads')}}" class="sbm-post pure-button">{{_('View uploads')}}</a>
  {% endif %}
  <a href="{{url_for('user.view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">{{_('View saved posts')}}</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if not current_user.is_authenticated and config.site.block_anon_stalking %}
    <div class="message" style="margin-top: 2em;">{{_("Please log in to see this user's posts.")}}</div>
{% else %}
    {% if sort_type == 'user.view_user_posts' %}
      <h3>{{_('View posts')}}</h3>
      {% if user.status == 10 %}
        <div class="helper-text deleted-user">{{_("%(user)s has deleted their account.", user=user.name)}}</div>
      {% endif %}
    {% else %}
      <h3>{{_('View saved posts')}}</h3>
    {% endif %}
    {% if not posts %}
      <h3>{{_("There are no posts here, yet.")}}</h3>
    {% endif %}

    <div class="alldaposts">
    {% for post in posts %}
      {% include "indexpost.html" %}
    {%endfor%}
    </div>

    {% if posts|length == 25 %}
      <a href="{{url_for(sort_type, page=(page+1), user=user.name)}}" class="pure-button">{{_('Next')}}</a>
    {% endif %}
    {% if page > 1 %}
      <a href="{{url_for(sort_type, page=(page-1), user=user.name)}}" class="pure-button">{{_('Previous')}}</a>
    {% endif %}
{% endif %}
{% endblock %}
